<div id='mainArea'>
    <div id='dummyServer'>
        <h2 class='ip-address'>192.168.50.20</h2>
        <div class='serverImage'>
            <img class='korobka' src='/images/server.png'>
            <img class='badge' src='/images/ubuntu.png'>
        </div>
        <div class='statusMachine'>
            <div class='status'>
                <img src="/images/button_ok.png">
                <span>Online</span>
            </div>
        </div>
        <div class='UptimeBlock'>
        </div>
    </div>
</div>