<div id='mainArea'>
    <div id='curtain'>
        <div id='serverListSSH'>
            <div id='headerRowSSH'>
                <div id='headerSSH'>Select machine to connect: </div>
                <img src='/images/cross.svg' id='closeSSH'>
            </div>
            <div id='machinesSSH'>
                <div id='dummySSH'>
                    <div class='ipAddressSSH'>192.168.50.20</div>
                    <div class='OS_SSH'> | Ubuntu 16.04</div>
                </div>
            </div>
        </div>
    </div>
    <div id='terminal'>
        <div class='loginString'>guest@192.168.50.20:~$</div>
    </div>
    <div id='dummyServer'>
        <h2 class='ip-address'>192.168.50.20</h2>
        <div class='serverImage'>
            <img class='korobka' src='/images/server.png'>
            <img class='badge' src='/images/ubuntu.png'>
        </div>
        <div class='statusMachine'>
            <div class='status'>
                <img src="/images/button_ok.png">
                <span>Online</span>
            </div>
        </div>
        <div class='UptimeBlock'>
        </div>
    </div>
</div>