<!DOCCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
    </head>
    <body>
        <header>
            <h1>Admin Panel</h1>
        </header>
        <main>
            <aside>
                <div class='machineTextHolder'>
                    <img id='machineLogo' src='/images/machines.png'>
                    <h2 id='machines'>Machines</h2>
                </div>
            </aside>
            <%= yield %>
        </main>
        <script src="/js/app.js" type="text/javascript"></script>
    </body>
</html>