@font-face{
    src: url("/fonts/Bitter-Bold.otf");
    font-family: 'Bitter Bold';
}
@font-face {
    font-family: 'Bitter Regular';
    src: url('/fonts/Bitter Regular.otf');
}
@font-face {
    font-family: 'Miriad';
    src: url("/fonts/miriad.otf");
}
@font-face {
    font-family: 'MirBold';
    src: url("/fonts/mirbold.otf");
}
@font-face {
    font-family: 'VerdB';
    src: url("/fonts/verdanab.ttf");
}