@font-face
{
    font-family: 'BitterB';
    src:url("/fonts/Bitter-Bold.otf");
}
@font-face {
    font-family: 'LucidaS';
    src: url("/fonts/lucidas.ttf");
}
@font-face
{
    font-family: 'Arial Rounded MT Bold';
    src: url("/fonts/ArialB.ttf");
}
@font-face
{
    font-family: 'Cambria Regular';
    src: url("/fonts/Cambria.ttf");
}