@font-face
{
    font-family: 'BitterB';
    src:url("/typefaces/Bitter-Bold.otf");
}
@font-face {
    font-family: 'LucidaS';
    src: url("/typefaces/lucidas.ttf");
}
@font-face
{
    font-family: 'Arial Rounded MT Bold';
    src: url("/typefaces/ArialB.ttf");
}
@font-face
{
    font-family: 'Cambria Regular';
    src: url("/typefaces/Cambria.ttf");
}
@font-face {
    font-family: 'Consolas';
    src: url("/typefaces/consola.ttf");
}