#mainArea
{
    width: calc(100% - 250px);
    margin-left:250px;
    position: relative;
    display: table-cell;
}
.badge{
    position: absolute;
    left: 16px;
    transform: scale(0.8) translateX(-25%) translateY(-25%);
    top: 12px;
    height: 40px;
}
#dummyServer{
    padding: 0 53px;
    margin: 30px 18px;
    border-radius: 7px;
    display: none;
    transition: .2s ease-in-out background-color;
    &:hover
    {
        background: #ccc;
    }
}
.readyServer
{
    display: inline-block !important;
}
.serverImage{
    text-align: center;
    position: relative;
}
.korobka
{
    transform: scale(0.8);
    height: 152px;
}
.ip-address
{
    margin: 10px auto 0 auto;
    font-size: 17px;
    font-family: 'LucidaS';
    color: #525252;
    font-weight: 100;
}
.status
{ 
    text-align: center;
    img
    {
        transform: scale(0.8);
        height: 27px;
        vertical-align: middle;
    }
    span
    {
        color: #337148;
        font-family: 'BitterB';
        vertical-align: middle;
    }
}
#dynamicServerInfo
{
    position:absolute;
    background: red;
    height:80px;
    width: 200px;
}
#curtain
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(#2d2d2d, .79);
    display: none;
}
#serverListSSH{
    background: #c4b5be;
    width: 80%;
    box-shadow: 0 0 13px rgba(255,255,255,.9);
    height:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    transform: translateY(-50%);
}
#closeSSH
{
    float: right;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}
#headerSSH
{
    display: inline-block;
    margin-top: 18px;
    margin-left: 36px;
    font-size: 18px;
    font-family: BitterB;
    color: #2d2d2d;
}
#dummySSH
{
    background: linear-gradient(to right, rgba(81,37,49,0.2), rgba(242,239,231,0.22) 10%);
    width: 90%;
    margin: 14px auto;
    padding: 8px;
    display: none;
    cursor: pointer;
    background-position: -145px;
    background-size: calc(100% + 145px);
    transition: .2s ease-in-out background-position;
    &:hover{
        background-position: 0;
    }
    &:active {
        background: rgba(48, 130, 197, .5);
    }
}
.ipAddressSSH
{
    display: inline-block;
    font-family: BitterB;
}
.OS_SSH
{
    display: inline-block;
    font-family: Bitter;
}
#headerRowSSH{
    margin-bottom: 30px;
}
.sshMachine {
    display: block !important;
}
#terminal {
    position: absolute;
    right: 43px;
    top: 25px;
    height: 139px;
    width: 418px;
    background: #2d2d2d;
    box-shadow: 2px 2px 5px #000;
    display: none;
    z-index: 2;
}
.terminalCommand{
    position: relative;
    height:100%;
    textarea{
        position: absolute;
        padding-left:25px;
        left: 0;
        top:0;
        resize:none;
        width:100%;
        background:#2d2d2d;
        border:none;
        color: #dcdcdc;
        font-family: 'Consolas';
        height:100%;
        z-index:2;
    }
}
.outputTerminalCommand {
    display: inline-block;
}
#terminalTransparent {
    z-index: 1;
    position: absolute;
    top: -15px;
    left: -40px;
    height: calc(100% + 30px);
    width: calc(100% + 80px);
    border-radius: 5px;
    background: rgba(#e9e9e9,.4);
}
#closeSshWindow{
    position: absolute;
    left: -28px;
    height: 20px;
    top: 7px;
    z-index: 2;
    cursor: pointer;
}
#moveSshWindow {
    position: absolute;
    left: -30px;
    height: 25px;
    z-index: 2;
    top: 36px;
    cursor: move;
}
#sshIPTerminal {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Bitter;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.44);
}
#errorMessage
{
    margin-left:auto;
    margin-right:auto;
}