<h3 class="introLogo">TodoApp</h3>
<br>
<form class="mainContent" method="addTodo">
    <div class='row'>
        <div id='inputWrapper'>
            <input type='text' placeholder="Input your notification" id='basicInput'>
        </div>
        <input type='submit' value='Submit' id='submitButton'>
    </div>
</form>
<div id='timeTable'>
    <% todosArray.each do |todo| %>
        <div>
            <%= todo[:title] %>
        </div>
    <% end %>
</div>
