<h3 class="introLogo">TodoApp</h3>
<br>
<form class="mainContent" action="addTodo" method="post">
    <div class='row'>
        <div id='inputWrapper'>
            <input type='text' name="notificationText" placeholder="Input your notification" id='basicInput'>
        </div>
        <input type='submit' value='Submit' id='submitButton'>
        <div class='row'>
            <canvas id='clock'>
            </canvas>
            <input id='timeText' name="timeText" placeholder="12:40">
        </div>
    </div>
</form>
<div id='timeTable'>
    <% todosArray.each do |todo| %>
        <div class='singleTodoItem'>
            <%= todo[:title] %>
        </div>
    <% end %>
</div>
