body:before{
    position: absolute;
    content:'';
    background: linear-gradient(129deg, #8e0dd9,
      #b407ec 45%,  #8e0dd9 70%, #8e0dd9);
    height:100%;
    width:100%;
    z-index: -1;
}
body:after
{
    position: absolute;
    content:'';
    background: linear-gradient(129deg, #8e0dd9, rgba(#d90d8e,.46));
    height:100%;
    top:0;
    z-index: -1;
    width:100%;
}
html, body{
    overflow: hidden;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

//Simple todo app text
.introLogo
{
    color: #ececec;
    position: relative;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:36px;
    font-size: 26px;
    margin-top:34px;
    &:after{
        width:110%;
        left:50%;
        bottom:-3px;
        height:2px;
        background: #ececec;
        transform: translateX(-50%);
        content: '';
        position: absolute;
    }
}
form{
    background: #e9e9e9;
    height:182px;
    width:297px;
    z-index: 1;
    position: absolute;
    left: 23%;
}
#basicInput
{

    background:none;
    border:none;
    position: relative;
    font-family: 'Miriad';
    color:#636363;
    
    padding:0 20px;
      
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#636363;
    opacity: 1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #636363;
    opacity:1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #636363;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #636363;
    opacity: 1;
  }
$size : 13px;
$marginSubmit: 15px;
#inputWrapper
{
    position: relative;
    display: inline-block;
    margin-right: $marginSubmit;
    &:before
    {
        content:'';
        left:2px;
        width:$size;
        height:$size;
        position: absolute;
        background: url('/images/pen-15.png');
        background-size:  auto $size;
        top:2.2px;
    }
    &:after
    {
        left:0;
        content: '';
        height:1px;
        bottom: 0px;
        width:100%;
        position: absolute;
        background: #636363;
    }
}
//Container for the items
.mainContent{
    text-align: center;
    margin-top:130px;
}
#submitButton
{
    background: #515151;
    border:none;
    border-radius: 5px;
    color: #e9e9e9;
    font-family: 'Miriad';
    padding: 4px 10px;
    cursor: pointer;
    margin-left: $marginSubmit;
}
.row
{
    width:100%;
    display: inline-block;
    position: relative;
    margin-top: 12px;
}
#timeTable
{
    left: 23%;
    position: absolute;
    top:411px;
    color: #e9e9e9;
}
#timeText{
    font-family: 'MirBold';
    color: #515151;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    right: 32%;
    font-size: 20px;
    background: none;
    border:none;
    width:50px;
}
#clock
{
    position: relative;
    &:before
    {
        position: absolute;
        top:-1px;
        width:5px;
        height:5px;
        left:-1px;
        content: '';
    }
}